<h1>Beer API</h1>
<h2>Search By Brewery Name</h2>
<input placeholder="Enter Brewery Name"
       ng-model="model.breweryName"
       class="form-control"/>
<button ng-click="model.getBrewery(model.breweryName)" class="btn btn-primary btn-block">
    Search

</button>


<table class="table">
    <tr ng-repeat="brewery in model.breweries">
        <td>
            <a ng-click="model.getBreweryDetails(brewery.id)">
                {{brewery.name}}
            </a>
        </td>
        <td>
            <img ng-src="{{pet.media.photos.photo[0].$t}}"/>
        </td>
    </tr>
</table>