<ul class="list-group">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-xs-10">Page</div>
            <div class="col-xs-2">
                <a class="ach ach-link" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new"
                   style="color:white">
                    <span class="pull-right glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </li>
    <li ng-repeat="page in model.pages" class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget" style="color:black">
                    {{page.name}}
                </a>
            </div>
            <div class="col-xs-2">
                <a class="ach ach-link2"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
                   style="color:black">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>

    </li>
</ul>